= link_to "View Completed Tasks", kid_completed_tasks_path(@kid.id)
= form_for @kid do |f|
	= render "shared/error_messages", :object => f.object
	%div.form-field
		= f.label :points
		= f.text_field :points
	%div.form-field
		= f.label :minimum_tasks
		= f.text_field :minimum_tasks
	%div.form-field
		= f.label :tasks
		- @tasks.each do |task|
			%br
			= check_box_tag "kid[task_ids][]",task.id,@kid.tasks.include?(task)
			%span{:class => ("bold" if task.required)}= task.name
	%div.form-actions
		= f.submit "Save"