= form_for @task do |f|
  = render "shared/error_messages", :object => f.object
  %div.form-field
    = f.label :name
    = f.text_field :name
  %div.form-field
    = f.label :points
    = f.text_field :points
  %div.form-field
    = f.label :image
    = f.text_field :image
  %dv.form-field
    = f.check_box :required
    = f.label :required
  %div.form-field
  = f.label :days
  - @days.each do |day|
    %br
    = check_box_tag "task[day_ids][]",day.id,@task.valid_on_day(day)
    = day.name
  %div.form-actions
    = f.submit "#{action} Task"